.wh-center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50% ,-50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50% ,-50%);
    -o-transform:translate(-50%, -50%);
  }
  /*垂直居中(不确定高)*/
  .h-center{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
  }
  
  .w-center{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
  }
  
  .ellipsis{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  .red{
      color:red;
  }
  /*mixin*/
  /*灰色按钮*/
  
 